body {
    margin: 0px;
	padding: 0px;
    background-color: #f1f1f1;
}

video {
    width: 100%;
    height: calc(100% - 24px);
    object-fit: 'contain';
}

.tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tabcontent {
    width: 100%;
}

.tab button {
    flex-grow: 1;
    /* width: 20%; */
    /* padding: 10px; */
    cursor: pointer;
    background-color: #6c757d;
    font-size: 18px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    border: none;
    /* border-radius: 30px; */
    transition: background-color 0.3s ease;
}

.table-container {
    display: flex;
    border: 1px solid #ccc;
    flex-wrap: wrap;
    width: 100%;
}

table {
    border: 1px solid #ccc;
}

.controllers {
    width: 100%;
}

.selected-button {
    fill: blue;
}

.hidden {
    display: none;
}

.banner {
    background: linear-gradient(to right, #f0db4f, #00ADD8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    width: 100%;
    height: 10%;
    padding: 5px 0px 5px 0px;
    margin-bottom: 20px;
}

.banner img {
    width: 15%; /* Set fixed width */
    height: 100%; /* Set fixed height */
    margin-right: 5lpx; /* Space between the image and text */
    transition: transform 0.3s ease-in-out; /* Animation for hover effect */
}

.big-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}

.big-button {
    display: block;
    width: 40%;
    height: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 20px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.small-buttons {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
}

.small-button {
    width: 20%;
    padding: 10px;
    cursor: pointer;
    background-color: #6c757d;
    font-size: 20px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.small-button:disabled {
    background-color: #6c757d; /* Grey background for disabled state */
    color: #ffffff; /* White text color */
    cursor: not-allowed; /* Not-allowed cursor */
    opacity: 0.65; /* Slightly transparent */
}

.big-button:disabled {
    background-color: #6c757d; /* Grey background for disabled state */
    color: #ffffff; /* White text color */
    cursor: not-allowed; /* Not-allowed cursor */
    opacity: 0.65; /* Slightly transparent */
}

.tabbutton {
    /* width: 20%; */
    /* padding: 10px; */
    cursor: pointer;
    background-color: #6c757d;
    font-size: 14px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    /* border: none; */
    /* border-radius: 30px; */
    transition: background-color 0.3s ease;
}

/* .tabbutton:active {
    background-color: #228deb;
    transition: background-color 0.3s ease;
} */

.tabbutton.active {
    background-color: #228deb;
    transition: background-color 0.3s ease;
}

